
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Satış Yap</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">SATIŞ EKRANI</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>Ürün Adı</label>
                    <input type="text" name="Urun" class="form-control"/> <br />
                    <label>Markası</label>
                    <input type="text" name="marka" class="form-control"/> <br />
                    <label>Müşteri Adı</label>
                    <input type="text" name="ad" class="form-control"/><br />
                    <label>Müşteri Soyadı</label>
                    <input type="text" name="soyad" class="form-control"/><br />
                    <label>Telefon NUmarası</label>
                    <input type="text" name="telefon" class="form-control"/><br />
                    <button type="submit" class="btn btn-success">KAYDET</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">İPTAL</button>
                </div>
            </form>
        </div>
    </div>
</div>

